// ========================================
// 
//                  通用样式文件
// 
// ========================================
// 主题色
@primary-color: #0d5bc1;
// css断点宽度
@pc-media: 750px;
// css断点宽度
@mobile-media: 749px;
@1p: 1px;
@2p: 2px;

/* ==================== 滤镜白色 Start ==================== */
.filter-white {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

/* ==================== 滤镜白色 End ==================== */
/* ==================== 输入框占位字颜色 Start ==================== */
.common-input-text {
    &::-webkit-input-placeholder {
        color: #999;
    }

    &::-moz-placeholder {
        color: #999;
    }

    &:-moz-placeholder {
        color: #999;
    }

    &:-ms-input-placeholder {
        color: #999;
    }
}

/* ==================== 输入框占位字颜色 End ==================== */
/* ==================== 箭头 Start ==================== */
.arrow-style {
    display: inline-block;
    border-top: 1px solid;
    border-right: 1px solid;
    color: inherit;
    transform: rotate(45deg) translateY(-0.5em);
    width: 1em;
    height: 1em;
    margin-left: 1em;
}

/* ==================== 箭头 End ==================== */
/* ==================== 通用背景样式 Start ==================== */
.full-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ==================== 通用背景样式 End ==================== */
/* ==================== 在1920下图片保持最小1920p Start ==================== */
.mxw-full-img {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 1903px) {
    .mxw-full-img {
        min-width: 1920px;
    }
}

@media screen and (max-width: @mobile-media) {}

/* ==================== 在1920下图片保持最小1920p End ==================== */
/* ==================== 友情链接样式 Start ==================== */
footer {
    // 底部友情链接
    .foot-link {
        position: relative;
        z-index: 13;
        background-color: #2F318B;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        img,
        span,
        a {
            position: relative;
            z-index: 3;
        }

        span {
            color: #fff;
            font-size: 0.25rem;
            cursor: pointer;
            margin-right: 0.33rem;
            padding-left: 0.17rem;
            border-left: 0.08rem solid #fff;
        }

        img {
            width: 0.5rem;
        }

        a {
            color: rgba(255, 255, 255, 0.5);
            line-height: 1.8;
            font-size: 0.23rem;

            &:last-child:after {
                display: none;
            }

            &:after {
                content: ",";
            }

            &:hover {
                text-decoration: underline;
                color: @primary-color;
            }
        }
    }

    // 线上友情链接
    .foot-online-link {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        font-size: 0.2rem;
        padding: 0.17rem 0.33rem;
        display: none;

        a {
            color: #333;
            line-height: 1.8;
            font-size: 0.23rem;

            &:last-child:after {
                display: none;
            }

            &:after {
                content: ",";
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: @pc-media) {
    footer {}
}

@media screen and (max-width: @mobile-media) {
    footer {

        // 底部友情链接
        .foot-link {
            display: none;
            margin-top: 19.8px;
            font-size: 12px;

            a {
                font-size: 12px;
            }
        }

        // 线上友情链接
        .foot-online-link {
            padding: 10.2px 15px;

            a {
                font-size: 12px;
            }
        }
    }
}

/* ==================== 友情链接样式 End ==================== */