@font-face {
  font-family: "Montserrat-Light";
  src: url('font/Montserrat-Light.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url('font/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url('font/Montserrat-Bold.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: url('font/BebasNeue.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Thin";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Thin.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Light";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Light.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Regular";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Bold";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Bold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Medium";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Medium.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_SemiBold";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_SemiBold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_ExtraBold";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_ExtraBold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Heavy";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Heavy.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alibaba_PuHuiTi_Black";
  src: url("https://xjyd2023.oss-cn-shenzhen.aliyuncs.com/fonts/Alibaba_PuHuiTi_Black.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ==================== 重置样式 Start ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Alibaba_PuHuiTi_Regular , 微软雅黑;
}
a {
  text-decoration: none;
  outline: none;
}
html {
  font-size: 60px;
}
body::-webkit-scrollbar {
  width: 4px;
  background: #ececec;
  border-radius: 100px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #333;
  cursor: pointer;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
input,
button {
  outline: 0 none;
  border: none;
  background-color: transparent;
}
button {
  cursor: pointer;
}
/* 图片统一动画 */
.mxw-image {
  overflow: hidden;
}
.mxw-image img {
  transition: transform 0.8s;
  width: 100%;
}
.mxw-image:hover img {
  transform: scale(1.05);
}
main,
header,
footer,
.mxw-box,
section {
  font-size: 16px;
}
main {
  position: relative;
  z-index: 10;
}
section {
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 1800px) {
  html {
    font-size: 53px;
  }
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 45px;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 44.77px;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 44px;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 43px;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 42px;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 39px;
  }
}
@media screen and (max-width: 1152px) {
  html {
    font-size: 35px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 26px;
  }
}
/* ==================== 重置样式 End ==================== */
/* ==================== 通用容器大小 Start ==================== */
.mxw-box {
  width: 1600px;
  max-width: 89.6%;
  margin-left: auto;
  margin-right: auto;
}
.ny-mxw-box {
  max-width: 1200px;
}
@media screen and (max-width: 1820px) {
  .mxw-box {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 749px) {
  .mxw-box {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* ==================== 通用容器大小 End ==================== */
/* ==================== 通用断点隐藏 Start ==================== */
@media screen and (max-width: 749px) {
  .m-hide {
    display: none !important;
  }
}
@media screen and (min-width: 750px) {
  .pc-hide {
    display: none !important;
  }
}
/* ==================== 通用断点隐藏 End ==================== */
/* ==================== 通用布局 start ==================== */
@media screen and (min-width: 750px) {
  .u-row-2,
  .u-row-3,
  .u-row-4,
  .u-row-5,
  .u-row-6 {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .u-row-2 > .u-col {
    width: 49%;
  }
  .u-row-2 > .u-col:nth-child(2n) {
    margin-left: 2%;
  }
  .u-row-2 > .u-col:nth-child(2) ~ .u-col {
    margin-top: 2%;
  }
  .u-row-3 > .u-col {
    width: 32%;
  }
  .u-row-3 > .u-col:nth-child(3n-1) {
    margin-left: 2%;
    margin-right: 2%;
  }
  .u-row-3 > .u-col:nth-child(3) ~ .u-col {
    margin-top: 2%;
  }
  .u-row-4 > .u-col {
    width: 23.5%;
    margin-right: 2%;
  }
  .u-row-4 > .u-col:nth-child(4n) {
    margin-right: 0%;
  }
  .u-row-4 > .u-col:nth-child(4) ~ .u-col {
    margin-top: 2%;
  }
  .u-row-5 > .u-col {
    width: 18.4%;
    margin-right: 2%;
  }
  .u-row-5 > .u-col:nth-child(5n) {
    margin-right: 0%;
  }
  .u-row-5 > .u-col:nth-child(5) ~ .u-col {
    margin-top: 2%;
  }
  .u-row-6 > .u-col {
    width: 15.5%;
    margin-right: 1.4%;
  }
  .u-row-6 > .u-col:nth-child(6n) {
    margin-right: 0%;
  }
  .u-row-6 > .u-col:nth-child(6) ~ .u-col {
    margin-top: 1.4%;
  }
}
@media screen and (max-width: 749px) {
  .u-row-2,
  .u-row-3,
  .u-row-4,
  .u-row-5,
  .u-row-6 {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .u-row-2 .u-col {
    width: 100%;
  }
  .u-row-2 .u-col:nth-child(1) ~ .u-col {
    margin-top: 4%;
  }
  .u-row-3 > .u-col,
  .u-row-4 > .u-col,
  .u-row-5 > .u-col,
  .u-row-6 > .u-col {
    width: 48%;
  }
  .u-row-3 > .u-col:nth-child(2n),
  .u-row-4 > .u-col:nth-child(2n),
  .u-row-5 > .u-col:nth-child(2n),
  .u-row-6 > .u-col:nth-child(2n) {
    margin-left: 4%;
  }
  .u-row-3 > .u-col:nth-child(2) ~ .u-col,
  .u-row-4 > .u-col:nth-child(2) ~ .u-col,
  .u-row-5 > .u-col:nth-child(2) ~ .u-col,
  .u-row-6 > .u-col:nth-child(2) ~ .u-col {
    margin-top: 4%;
  }
}
/* ==================== 通用布局 end ==================== */
/* ==================== 通用文本行数限制 start ==================== */
.u-line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.u-line-2 {
  -webkit-line-clamp: 2;
}
.u-line-3 {
  -webkit-line-clamp: 3;
}
.u-line-4 {
  -webkit-line-clamp: 4;
}
.u-line-5 {
  -webkit-line-clamp: 5;
}
.u-line-6 {
  -webkit-line-clamp: 6;
}
.u-line-2,
.u-line-3,
.u-line-4,
.u-line-5,
.u-line-6 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* ==================== 通用文本行数限制 end ==================== */
/* ==================== 图片放大插件 Start ==================== */
.viewer-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewer-list > li img {
  width: 100% !important;
  height: auto !important;
  transform: translate(0, 0) !important;
}
/* ==================== 图片放大插件 End ==================== */
/* ==================== ElementUI Start ==================== */
.el-table-filter__bottom {
  font-size: 12px;
}
/* ==================== ElementUI End ==================== */
