<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>【标题】模板1</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- swiper -->
    <link rel="stylesheet" href="/assets/plugins/css/swiper.min5.4.5.css">
    <!-- 动画css -->
    <link rel="stylesheet" href="/assets/plugins/css/animate.min.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="/assets/css/pubilc.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <!-- 标题 - 模板1 Start -->
    <div class="title-template1">
        <div class="text1">PRODUCT CENTER</div>
        <div class="text2">种类齐全，总有一款合适您</div>
      </div>
    <!-- 标题 - 模板1 End -->

    <!-- JS 区域 Start -->
    <!-- jquery -->
    <script src="/assets/plugins/js/jquery.js"></script>
    <!-- WOW -->
    <script src="/assets/plugins/js/wow.min.js"></script>
    <!-- swiper -->
    <script src="/assets/plugins/js/swiper.min5.4.5.js"></script>
    <!-- 数字滚动 -->
    <script src="/assets/plugins/js/jquery.animateNumber.js"></script>
    <!--  -->
    <script src="/assets/plugins/js/swiper.animate1.0.3.min.js"></script>
    <!-- rem -->
    <script src="/assets/js/rem.js"></script>
    <!-- 通用js方法 -->
    <script src="/assets/js/utils.js"></script>
    <!-- 自定义 js -->
    <script src="/assets/js/main.js"></script>
    <!-- JS 区域 End -->
</body>

</html>