<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>【新闻】模板1</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- swiper -->
    <link rel="stylesheet" href="/assets/plugins/css/swiper.min5.4.5.css">
    <!-- 动画css -->
    <link rel="stylesheet" href="/assets/plugins/css/animate.min.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="/assets/css/pubilc.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <!-- 新闻 - 模板1 Start -->
    <section class="news-template1">
        <div class="mxw-box">
            <!--  -->
            <div class="head wow fadeInUp">
                <div class="tabs">
                    <a href="javascript:;" class="tab-item">公司新闻</a>
                    <a href="javascript:;" class="tab-item">行业动态</a>
                    <a href="javascript:;" class="tab-item">常见问题</a>
                </div>
                <a href="javascript:;" class="more-btn m-hide">查看更多 +</a>
            </div>
            <!--  -->
            <div class="swiper-container news-template1-swiper wow fadeInUp" id="news-template1-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="body">
                            <a href="javascript:;" class="left-body" title="">
                                <div class="mxw-image image"><img src="./images/img043@1000x630.jpg" alt="" title="">
                                </div>
                                <div class="info">
                                    <div class="date">2023.02.21</div>
                                    <div class="u-line-1 title">维修中心智能焊修机器人完成首次焊修</div>
                                    <div class="u-line-2 desc">
                                        维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊...
                                    </div>
                                </div>
                            </a>
                            <div class="itembox">
                                <a href="javascript:;" class="item" title="">
                                    <div class="date">
                                        <div class="day">21</div>
                                        <div class="year">2023.02</div>
                                    </div>
                                    <div class="info">
                                        <div class="u-line-1 title">维修中心智能焊修机器人完成首次焊修</div>
                                        <div class="u-line-2 desc">
                                            维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心..</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item" title="">
                                    <div class="date">
                                        <div class="day">21</div>
                                        <div class="year">2023.02</div>
                                    </div>
                                    <div class="info">
                                        <div class="u-line-1 title">维修中心智能焊修机器人完成首次焊修</div>
                                        <div class="u-line-2 desc">
                                            维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心..</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item" title="">
                                    <div class="date">
                                        <div class="day">21</div>
                                        <div class="year">2023.02</div>
                                    </div>
                                    <div class="info">
                                        <div class="u-line-1 title">维修中心智能焊修机器人完成首次焊修</div>
                                        <div class="u-line-2 desc">
                                            维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心..</div>
                                    </div>
                                </a>
                                <a href="javascript:;" class="item" title="">
                                    <div class="date">
                                        <div class="day">21</div>
                                        <div class="year">2023.02</div>
                                    </div>
                                    <div class="info">
                                        <div class="u-line-1 title">维修中心智能焊修机器人完成首次焊修</div>
                                        <div class="u-line-2 desc">
                                            维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心智能焊修机器人完成首次焊修维修中心..</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
            </div>
            <a href="javascript:;" class="more-btn pc-hide">查看更多 +</a>
        </div>
    </section>
    <!-- 新闻 - 模板1 End -->

    <!-- JS 区域 Start -->
    <!-- jquery -->
    <script src="/assets/plugins/js/jquery.js"></script>
    <!-- WOW -->
    <script src="/assets/plugins/js/wow.min.js"></script>
    <!-- swiper -->
    <script src="/assets/plugins/js/swiper.min5.4.5.js"></script>
    <!-- 数字滚动 -->
    <script src="/assets/plugins/js/jquery.animateNumber.js"></script>
    <!--  -->
    <script src="/assets/plugins/js/swiper.animate1.0.3.min.js"></script>
    <!-- rem -->
    <script src="/assets/js/rem.js"></script>
    <!-- 通用js方法 -->
    <script src="/assets/js/utils.js"></script>
    <!-- 自定义 js -->
    <script src="/assets/js/main.js"></script>
    <!-- JS 区域 End -->
    <script>
        // ==================== 新闻 - 模板1 Start ====================
        if ($(".news-template1 .tab-item").length) {
            const swiper = new initSwiperTab("#news-template1-swiper", ".news-template1 .tab-item").init()
        }
        // ==================== 新闻 - 模板1 End ====================
    </script>
</body>

</html>